# スクリーンロックを解除
stty stop undef
stty start undef

export PATH=/home/game/local/src/peco_linux_386:$PATH


# beep
set bell-style none

# peco
# settings for peco
peco-history() {
	local l=$(HISTTIMEFORMAT= history | tac | sed -e 's/^\s*[0-9]*\+\s\+//' | peco --query "$READLINE_LINE")
		READLINE_LINE="$l"
		READLINE_POINT=${#l}
}
bind -x '"\C-r": peco-history'

peco-ack-vim () {
	vim $(ack $@ | peco --query "$LBUFFER" | awk -F : '{print "-c " $2 " " $1}')
}

peco-snippets() {
	local line
	local snippet

	if [ ! -e ~/.snippets ]; then
		return 1
	fi

	declare l=$(grep -v "^#" ~/.snippets | peco --query "$READLINE_LINE" | sed "s/^\[.*\] *//g")
	READLINE_LINE="$l"
	READLINE_POINT=${#l}
}
bind -x '"\C-x\C-x":peco-snippets'

peco-git-show() {
	HASH=$(git log --pretty=format:"%h %ad [%an] %Cgreen%d%Creset %s" --date=short | peco | cut -d " " -f 1)
	if [ "$?" -ne 0 -o -z "$HASH" ]; then
	  return 1
	fi
	git show "$HASH" $@
}
